<nav class="navbar navbar-dark bg-dark">
        <form class="form-inline">
            <a class="navbar-brand" href= "/">News Scraper</a>
            
            <button class="btn btn-primary" id="scrape" type="submit">Scrape</button>
            
         <a class="navbar-brand" href= "/save">Saved </a>
            
        </form>
    </nav>

<div class="jumbotron text-center" >
  <div class="container">
    <h1 class="display-4">News Scraper</h1>
    <p class="lead">Buzzfeed News Scraper</p>
  </div>
</div>
<div class= "container">
     {{#each articles}}
     {{#unless saved}}
     <div class="row">
     <div class= "col-8">
         <row class="title mb-1">
             {{title}}
         </row>
         <br>
         <row class= "link">
            <a href={{this.link}}>{{link}}</a>
         </row>
     </div>
     <div class="col-4">
         <button class="saveButton" data-id="{{_id}}">Save</button>
     </div>
    </div>

    <br>
     {{/unless}}
     {{/each}}
</div>





<script src= "app.js"></script>