<nav class="navbar navbar-dark bg-dark">
        <form class="form-inline">
            <a class="navbar-brand" href= "/">News Scraper</a>
            <button class="btn btn-primary" id="scrape" type="submit">Scrape</button>
            <br>
            <button class="btn btn-primary" type="submit">Saved Articles</button>
        </form>
    </nav>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">News Scraper</h1>
    <p class="lead">Buzzfeed News Scraper</p>
  </div>
</div>
<div class= "container">
     {{#each articles}}
     <div class="row">
     <div class= "col-8">
         <row class="title mb-1">
             {{title}}
         </row>
         <br>
         <row class= "link">
             {{link}}
         </row>
     </div>
     <div class="col-2">
         <button class="saveButton" data-id="{{_id}}">Save</button>
     </div>
     <div class="col-2">
     <button class="viewButton" id="viewnotes" data-id="{{_id}}">Add Notes</button>
     </div>
     </div>
     {{/each}}
</div>


<script src= "/public/app.js"></script>